[fasta_size_filter default]
$;INPUT_FILE$;=$;I_FILE$;
$;INPUT_FILE_LIST$;=$;INPUT_LIST$;

[fastq2fastaqual default]
$;INPUT_FILE$;=$;I_FILE$;
$;INPUT_FILE_LIST$;=$;INPUT_LIST$;
$;FASTA_OUT$;=$;REPOSITORY_ROOT$;/output_repository/fastq2fastaqual/$;PIPELINEID$;_default/fastq2fastaqual.fasta
$;QUAL_OUT$;=$;REPOSITORY_ROOT$;/output_repository/fastq2fastaqual/$;PIPELINEID$;_default/fastq2fastqual.qual

[sffinfo default]
$;INPUT_FILE$;=$;I_FILE$;
$;INPUT_FILE_LIST$;=$;INPUT_LIST$;

[global]
$;I_FILE$; =
$;INPUT_LIST$; =
